{% extends "bi/base.html" %}
{% load static_version %}
{% load currency %}

{% block titulo %} Gestión de Usuarios {% endblock %}

{% block statics %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block classBody %}
{% endblock %}

{% block classDiv %}
class="main-content"
{% endblock %}

{% block contenido %}
<main class="container py-3">
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    {% if user.profile.rol.codigo == "SEG" %}
                    {% include "bi/body/components/rol/seg_2.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}