{% load static %}

<footer class="bg-footer-custom text-light pt-5 pb-3 mt-5">
    <div class="container">
        <div class="row">
            <!-- Sección de contacto -->
            <div class="col-md-4 mb-3">
                <h5>Contacto</h5>
                <p><a href="https://maps.app.goo.gl/eCo6u3LM5HN92Fsi8" target="_blank"
                        class="d-block text-light text-decoration-none">
                        <i class="bi bi-geo-alt" aria-hidden="true"></i> Garreton Arce 1640, Quintero</a></p>
                <p><a href="tel:+56228816044" class="d-block text-light text-decoration-none"> <i
                            class="bi bi-phone" aria-hidden="true"></i> +56 2 2881 6044</a></p>
                <p><a href="mailto:fenix@fenixing.cl?body=Hola,%20estoy%20interesado%20en%20sus%20servicios."
                        class="d-block text-light text-decoration-none">
                        <i class="bi bi-envelope" aria-hidden="true"></i> fenix@fenixing.cl</a></p>
            </div>
        </div>

        <!-- Línea de copyright -->
        <hr class="bg-secondary">
        <p class="text-center mb-0 small">&copy; 2025 InsightDox. Todos los derechos reservados.</p>
    </div>
</footer>