# Configuración del entorno de desarrollo
DEBUG=True

#Si DEBUG es False y el bucket no tienes staticfiles, ejecutar el siguiente comando
#python manage.py collectstatic

# Clave secreta de Django
SECRET_KEY=

# Hosts permitidos
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DB_NAME=insightdox
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

#Google Cloud Plataform
#Name: django-storage-service
#Descripcion: Cuenta de servicio para Django y Cloud Storage en proyecto InsightDox
#[Storage Object Admin]
#[Storage Object Viewer]
#[Storage Object Creator]
#[Service Account Token Creator]
GOOGLE_APPLICATION_CREDENTIALS=config/credentials/
CLIENT_SECRETS_FILE=config/credentials/
GS_BUCKET_NAME=insightdox-bucket

#Acceso con el SuperUser por Defecto
SEG_USER=security
SEG_NAME=Jorge
SEG_LAST_NAME=Segundo
SEG_EMAIL=security@gmail.com

#Acceso a correo
EMAIL_HOST_USER=ejemplo@example.com
EMAIL_HOST_PASSWORD=

EMAIL_OAUTH_CLIENT_ID=
EMAIL_OAUTH_CLIENT_SECRET=
EMAIL_OAUTH_REFRESH_TOKEN=