# Archivos de sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Logs y temporales
*.log
*.tmp
*.swp
staticfiles/

# Entornos virtuales y dependencias
.venv/
myvenv/
env/

# Archivos de compilación
dist/
build/
out/
bin/
obj/
*.class
*.exe
*.dll

# Archivos sensibles
.env
*.pem
*.key
*.crt
config/credentials/

# Bases de datos y backups
*.sql
*.sqlite
*.bak

# Python
__pycache__/
*.py[cod]

# Ignorar todas las imágenes en media/avatars
media/*

# Excepto avatar por defecto
!media/avatars/user_0_unknown.jpg

#Datos Simulados
DtSimulations/
excel.py