/* Asegura que el body ocupe toda la altura */
html, body {
    height: 100%;
    margin: 0;
}

/* Contenedor principal */
.main-content {
    min-height: 56.7%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

/* Navbar personalizado */
.bg-navbar-custom {
    background-color: #cc1b2b; /* Rojo navbar */
}

.logo-nav {
    width: 100px;
    height: 57px;
    background: white;
}

.avatar-nav {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: white;
    object-fit: cover;
    border-radius: 50%;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link:focus {
    color: #ffe;
}

.dropdown .dropdown-item:hover {
    background-color: rgba(0,0,0,0.05);
}


/* Footer */
.bg-footer-custom {
    background-color: #383838;
}

/* Toast */
#errorToast {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 0.9rem;
}
