{% load static_version %}

<div class="d-flex justify-content-between align-items-center my-4">
    <h5 class="mt-0">Permisos del sistema</h5>
    <!-- Botón para abrir el modal -->
    <button class="btn btn-success btn-sm ms-3" data-bs-toggle="modal" data-bs-target="#userModal" onclick="abrirModalAgregar()">
        Agregar usuario
    </button>
</div>

<div class="table-responsive" id="usuariosContainer" data-rows="{{ rows_per_page }}">
    <table id="usuariosTable" class="table table-sm table-bordered align-middle text-center mx-auto">
        <thead class="table-light">
            <tr>
                <th>Img</th>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for u in all_Usuarios %}
            <tr class="usuario-row">
                <td><img src="{% if u.profile.avatar.url %}{{ u.profile.avatar.url }}{% else %}avatars/user_0_unknown.jpg{% endif %}" class="rounded" alt="" width="50" height="50"></td>
                <td>{{ u.username }}</td>
                <td>{{ u.profile.rol }}</td>
                <td>{{ user.date_joined }}</td>
                <td class="text-center" style="vertical-align: middle;">
                    <div class="d-inline-flex gap-2">
                        <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#userModal"
                            onclick="abrirModalEditar('{{ u.id }}', '{{ u.username }}', '{{u.first_name}}', '{{u.last_name}}', '{{ u.email }}', '{{ u.profile.rol.id }}', '{{ u.profile.avatar.url }}')">
                            Editar
                        </button>
                        <form action="{% url 'deleteUser' u.id %}?next=perfil" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-danger">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="text-center text-muted">No hay Usuarios registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Botones de navegación centrados -->
<div class="d-flex justify-content-center gap-2 my-2">
    <button id="prevBtn" class="btn btn-sm btn-outline-secondary">Anterior</button>
    <button id="nextBtn" class="btn btn-sm btn-outline-secondary">Siguiente</button>
</div>

<!-- Contenedor de los toasts -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 1100;">
    <div id="errorToast" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Cerrar"></button>
        </div>
    </div>
</div>

<!-- Modal de Bootstrap -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="userForm" method="POST" enctype="multipart/form-data" onsubmit="validarPasswords(event)">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Agregar nuevo usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control" id="modalUsername" placeholder=""
                            required>
                        <label for="modalUsername">Usuario</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" name="correo" class="form-control" id="modalCorreo" placeholder="" required>
                        <label for="modalCorreo">Correo</label>
                    </div>

                    <div class="mb-3 row g-2">
                        <div class="col form-floating">
                            <input type="text" name="nombre" class="form-control" id="modalNombre" placeholder="" required>
                            <label for="modalNombre">Nombre</label>
                        </div>
                        <div class="col form-floating">
                            <input type="text" name="apellido" class="form-control" id="modalApellido" placeholder="" required>
                            <label for="modalApellido">Apellido</label>
                        </div>
                    </div>

                    <div class="form-floating mb-3 position-relative">
                        <input type="password" name="contrasena1" class="form-control" id="modalPassword1" placeholder=""
                            required>
                        <label for="modalPassword1">Contraseña</label>
                        <span class="position-absolute top-50 end-0 translate-middle-y pe-3 cursor-pointer"
                            onclick="verPassword('modalPassword1','modalEye1')">
                            <i id="modalEye1" class="fa fa-eye text-secondary"></i>
                        </span>
                    </div>
                    <div class="form-floating mb-3 position-relative">
                        <input type="password" name="contrasena2" class="form-control" id="modalPassword2" placeholder=""
                            required>
                        <label for="modalPassword2">Repetir Contraseña</label>
                        <span class="position-absolute top-50 end-0 translate-middle-y pe-3 cursor-pointer"
                            onclick="verPassword('modalPassword2','modalEye2')">
                            <i id="modalEye2" class="fa fa-eye text-secondary"></i>
                        </span>
                    </div>

                    <div class="mb-3">
                        <label for="modalRol" class="form-label">Rol</label>
                        <select name="rol" id="modalRol" class="form-select" required>
                            <option value="" disabled selected>Seleccione un rol</option>
                            {% for r in all_roles %}
                            <option value="{{ r.id }}">{{ r.rolName }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="modalAvatar" class="form-label">Avatar</label>
                        <input type="file" name="avatar" id="modalAvatar" accept="image/*" class="form-control">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success btn-sm" id="modalSubmit">Guardar usuario</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static_version 'bi/js/rol/jsSeg.js'%}"></script>