# Framework base
Django==5.2.6

# Variables de entorno
python-decouple==3.8

#Libreria que soporta ImageField
pillow==11.3.0

# API y seguridad
djangorestframework==3.15.2

#       Google Cloud Storage       #
# Cliente general de Google Cloud
google-cloud-core==2.4.1
google-auth==2.41.1
google-auth-oauthlib == 1.2.3
google-api-python-client==2.187.0

# Para trabajar con Cloud Storage
django-storages==1.14.4
google-cloud-storage==2.18.2

# Procesar datos en DataFrames
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2

openpyxl==3.1.5

# Base de datos MariaDB/MySQL
mysqlclient==2.2.4

# Soporte y análisis
requests==2.31.0