{% extends "bi/base.html" %}
{% load static_version %}

{% block titulo %} Dashboard {% endblock %}

{% block statics %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{% static_version 'bi/css/styleDashboard.css'%}">
{% endblock %}

{% block classBody %}
{% endblock %}

{% block classDiv %}
class="main-content"
{% endblock %}

{% block contenido %}
<main class="container py-4">
    <h1>Dashboard Financiero (Gráficos)</h1>
    <!-- Gráficas -->
    
    <div class="row g-4 mb-4">
        {% for key, item in data.items %}
            {% with valores=item.0 kpi_id=item.1 canva_id=item.2 descripcion=item.3 %}
            <div class="col-lg-6">
                {{ valores|json_script:kpi_id }}
                <div class="card shadow-sm h-100">
                    <div class="card-body d-flex align-items-center justify-content-center text-muted" style="position: relative;">
                        <div class="tooltip-container" style="overflow: visible;">
                            <span class="tooltip-icon">ⓘ</span>
                            <div class="tooltip-box">
                                <strong>Explicación:</strong> {{ descripcion.explicacion }} <br>
                                <strong>Interpretación:</strong>
                                <ul style="padding-left: 18px; margin: 0;">
                                {% for interpretacion in descripcion.interpretacion %}
                                    <li>{{ interpretacion }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% if valores %}
                        <canvas id="{{ canva_id }}" style="height: 260px;"></canvas>
                        {% else %}
                        <strong> No existen datos </strong>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endwith %}
        {% endfor %}
    </div>
</main>

<script src="{% static_version 'bi/js/jsDashboard.js' %}"></script>
{% endblock %}